html {
  font-family: Open Sans;
}

body {
  background-color: #36393f;
  color: #f8f8f2;
  font-size: 16px;
  -webkit-user-select: none;
  overflow: hidden;
}

.button {
    font-family: Open Sans;
    background-color: #24252a;
    border: none;
    color: white;
    padding: 1px 1px;
    margin-top: 1px;
    margin-bottom: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    width: 110px;
    height: 26px;
    outline: none;
}

.button:hover {background-color: #1e5e21}

.narrow {
  width: 53px;
}

.tiny {
  width: 24px;
}

.spacer {
  background-color: #36393f;
  color: #36393f;
}

.spacer:hover {background-color: #36393f}

.textbox {
    font-family: Open Sans;
    background-color: #484b51;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100px;
    outline: none;
}

.solidGreenBG {
    background-color: #3e8e41;
}

.pulsingRedBG {
    background-color: #ff0000;
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    background-color: #ff0000;
  }
  50% {
    background-color: #3e8e41;
  }
  100% {
    background-color: #ff0000;
  }
}

DIV.stack-v
{
    /* border: solid thick red; */
    overflow:hidden;
}

DIV.stack-h
{
    /* border: solid thick blue; */
    overflow:hidden;
}

DIV.content
{
    padding: 5px;
    background-color: grey;
    margin: 5px;
}

DIV.stack-h > DIV.content
{
    float:left;
}